form {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

input, textarea, select {
    display: block;
    margin-top: 10px;
}

.formbox {
    background-color: #aa5d1e;
    padding: 15px;
    margin: 30px;
    border-radius: 15px;
    color: white
  }