*{
  margin: 0;
  padding: 0;
  padding-bottom: 500 px;
  text-align: center;
  font-size: 16 px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
  background-color: #6d3d15;
}

.logoInicio {
  width: 80%;
  max-width: 700px;
  background-color: #FFFE91;
  padding: 30px 40px;
  margin: 30px auto; 
}

.mainPage {
  width: 80%;
  max-width: 700px;
  background-color: #FFFE91;
  padding: 30px 40px;
  margin: 30px auto;
}